<!DOCTYPE html>

<html lang="en">

<head>

    <meta charset="UTF-8">

    <meta
        name="viewport"
        content="width=device-width, initial-scale=1.0"
    >

    <title>{{ page_title }} | POS Billing</title>

</head>

<body>

<h1>{{ page_title }}</h1>

<a href="{% url 'supplier_list' %}">
    ← Back to Suppliers
</a>

<hr>

<form method="post">

    {% csrf_token %}

    {{ form.non_field_errors }}

    {% for field in form %}

        <div>

            {{ field.label_tag }}

            {{ field }}

            {% if field.errors %}

                <div>
                    {{ field.errors }}
                </div>

            {% endif %}

        </div>

        <br>

    {% endfor %}

    <button type="submit">
        Save Supplier
    </button>

</form>

</body>

</html>